<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kandykova_Mordochka.Properties.Settings.Kandikova_YPConnectionString"
            connectionString="Data Source=10.10.1.24;Initial Catalog=Kandikova_YP;Persist Security Info=True;User ID=pro-41;Password=Pro_41student"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>